@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f2f3;
  font-family: 'Roboto', sans-serif;
  color: #31344b;
}

#root {
  position: relative;
  min-height: 100vh;
}

.app {
  padding: 2rem 0rem;
}

.MuiFormControl-root.FormControl {
  flex-direction: row;
}

form {
  position: relative;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f1f2f3;
  z-index: 999;
}
.loader span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.logo img {
  width: 12rem;
}
.MuiFormGroup-root .MuiTextField-root {
  flex-grow: 1;
}
.MuiButton-root {
  margin-left: 0.6rem;
}
.MuiPagination-ul {
  justify-content: center;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.staticContainer {
  min-height: 64vh;
}
.MuiListItem-root {
  word-break: break-word;
}

@media screen and (max-width: 414px) {
  .staticContainer h4 {
    font-size: 1.5rem;
  }
  .makeStyles-recipeIcon-6.recipe-icon {
    font-size: 12rem;
  }
}

@media screen and (max-width: 320px) {
  .staticContainer {
    min-height: 15rem;
  }
}
